{% extends "layout.html.twig" %}

{% block title %}Navigateur non compatible{% endblock %}

{% block content %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>Ouuuuuuuups !</h1>
    <div class="item">
        <p>Votre navigateur n’est pas compatible avec le questionnaire (Internet Explorer toutes version). Merci d’utiliser un autre navigateur.</p>

        <p>Si vous ne l’avez pas encore fait, vous pouvez obtenir un meilleur navigateur parmi cette liste. Et pour un comparatif, <a href="http://www.tomshardware.fr/articles/internet-explorer-10-chrome-23-firefox-windows-8,2-17-12.html">suivez ce lien</a><br />
        <ul>
            <li><a href="http://www.mozilla.org/fr/firefox/">Firefox</a></li>
            <li><a href="http://www.google.com/chrome">Chrome</a></li>
            <li><a href="http://www.opera.com/fr/">Opera</a></li>
        </ul>

    </div>
{% endblock %}

