{% extends "layout.html.twig" %}

{% block title %}Index{% endblock %}

{% block h1 %}
    Index
{% endblock %}

{% block content %}
    <p>
        Texte d'intro <a href="/questionnaire/1">Commencer</a>
    </p>
{% endblock %}

