{% extends "layout.html.twig" %}

{% block title %}Enquête 2013 sur la vie au travail{% endblock %}

{% block content %}
    <h1>Enquête 2013 sur la vie au travail</h1>
    <div class="item">
        <p>Dans le cadre d’un travail de master en sciences humaines et sociales à l'université de Nantes, nous menons une étude. Nous vous prions de nous accorder votre précieuse collaboration à ce projet en répondant à ce questionnaire.</p>

        <p>Ce questionnaire est <b>anonyme</b> et sert strictement à des fins de recherche. Nous vous demandons de bien vouloir répondre, en toute franchise et liberté, à la <b>totalité</b> des questions.<p>

        <p>Pour toute question, vous pouvez nous contacter à ces adresses mails :<br />
        <span class="smaller">Les emails sont volontairement dissimulés, supprimez les [ et ] pour les utiliser</p>
        <ul>
            <li>Kristina Beauvivre : kristina.serbezova[@]etu.univ-nantes.fr</li>
        </ul>

        <br />

        <a class="button button-primary right" href="/questionnaire">Commencer</a>
        <p>Nous vous remercions d'avance de votre collaboration.</p>

    </div>
{% endblock %}

