{% extends "layout.html.twig" %}

{% block title %}Enquête 2013 sur la vie au travail{% endblock %}

{% block content %}
    <h1>Enquête 2013 sur la vie au travail</h1>
    <div class="item">
        {% if dataFound %}
            <a class="button button-primary right" href="/questionnaire">Continuer</a>
            <p>Vous avez déjà commencé à compléter le questionnaire. Vous pouvez reprendre à la dernière étape validée.</p>
            <hr />
        {% else %}
            <p>Dans le cadre d’une collaboration entre deux régions (Nord-Pas-de-Calais et Pays-de-la-Loire), nous menons une étude pour laquelle nous vous prions de nous accorder votre précieuse collaboration.</p>

            <p>Le présent questionnaire est <b>anonyme</b> et sert strictement à des fins de recherche. Nous vous demandons de bien vouloir répondre en toute franchise et liberté à la totalité des questions, sinon le questionnaire ne pourra être traité.</p>
            <p>Ce questionnaire vous est proposé par Kristina Serbezova, étudiante de Master 1 en Sciences Humaines et Sociales de l’Université de Nantes.</p>
        {% endif %}

        <p>Pour toute question, vous pouvez nous contacter à ces adresses mails :<br />
        <span style="font-size:.8em">Les emails sont volontairement dissimulés, supprimez les [ et ] pour les utiliser</span></p>
        <ul>
            <li>Kristina Beauvivre : kristina.serbezova[@]etu.univ-nantes.fr</li>
            <li>Pascale Desmureaux : pascale.desrumaux[@]univ-lille3.fr</li>
            <li>Christine Jeoffrion : christine.jeoffrion[@]univ-nantes.fr</li>
        </ul>

        <br />

        {% if dataFound %}
        {% else %}
            <a class="button button-primary right" href="/questionnaire">Commencer</a>
        {% endif %}
        <p>Nous vous remercions d'avance de votre collaboration.</p>

    </div>
{% endblock %}

