<!DOCTYPE html>
<!--[if lte IE 7]> <html class="no-js ie7 oldie" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/style.css" media="all">
    {% block head %}
    {% endblock %}
</head>


<body>
    <header class="line mod">
        <img alt="Université de Nantes" src="http://www.univ-nantes.fr/images/logo.png?new=2012050301"></a>
        <p class="title right">Faculté de Psychologie</p>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="line mod">
        <p>Tous droits réservés Propriété intellectuelle Desrumaux & Jeoffrion &copy;2013 − Réalisation 2013 <a href="http://vibby.fr">vibby</a></p>
    </footer>
</body>
</html>