{% extends "layout.html.twig" %}

{% block title %}Fin du questionnaire{% endblock %}

{% block content %}
    <h1>Merci !</h1>
    <div class="item">
        <p>Votre participation à l’enquête a pu être complétement prise en compte. Nous vous remercions de cette participation !<p>

        <p>Pour toute question, vous pouvez nous contacter à ces adresses mails :<br />
        <span style="font-size:.8em">Les emails sont volontairement dissimulés, supprimez les [ et ] pour les utiliser</span></p>
        <ul>
            <li>Kristina Serbezova-Beauvivre : kristina.serbezova[@]etu.univ-nantes.fr</li>
            <li>Pascale Desmureaux : pascale.desrumaux[@]univ-lille3.fr</li>
            <li>Christine Jeoffrion : christine.jeoffrion[@]univ-nantes.fr</li>
        </ul>

    </div>
{% endblock %}

