form label {
    min-width: 400px;
}
form label+div label{
    float:none;
    min-width: auto;
}


#form>div{
    /*background: #0f0;*/
    margin-top: 50px;
}
#form>.ok4+.ok4,#form>.ok7+.ok7{
    /*background: #f00;*/
    margin-top: 0 !important;
}

.ok4+.ok4 div label, .ok7+.ok7 div label{
    visibility:hidden;
    height: 0;
    overflow: hidden;
}

#form>div>label:before{
    content: "-";
    display: block;
}
#form>.ok4+.ok4>label:before, #form>.ok7+.ok7>label:before{
    content: "";
    display: inline;
}

.choiceItem{
    display: table-cell;
    text-align: center;
}
.choiceItem label{
    display: block;
    padding: 0 6px;
}