form label {
    min-width: 400px;
}
form label+div label{
    float:none;
    min-width: auto;
}

#form>.likert{
    /*background: #0f0;*/
    margin-top: 50px;
}

#form>div>label:before{
    content: "-";
    display: block;
}
#form>.ok4+.ok4>label:before, #form>.ok7+.ok7>label:before{
    content: "";
    display: inline;
}

.likert .choiceItem{
    display: table-cell;
    text-align: center;
}
.likert .choiceItem label{
    display: block;
    padding: 0 6px;
}

#form>div:hover {
    background-color: #ddd;
}
