SetEnv PHP_VER 5_4

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
   	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization},L]
</IfModule>
